* {
  margin: 0;
  padding: 0;
  font-family: "Play bold", sans-serif !important;
  font-weight: bold !important;
}

button {
  all: unset;
}

body {
  background-color: #FD9A01 !important;
}

.col-4, .col-8 {
  padding: 0 !important;
}

.row {
  margin: 0 !important;
}

.show {
  display: inline-block ;
}

.hidden{
  display: none !important;
}

section .btn{
  all: unset;
}

nav.row{
  padding: 0;
}


.btn-primary{
  background-color:#FD9A01 !important;
}